# ──────────────────────────────────────────────
# Variables d'environnement — Système Réparti
# Copier ce fichier en .env et adapter les valeurs
# ──────────────────────────────────────────────

# Django
DEBUG=True
SECRET_KEY=changez-moi-en-production

# Base de données PostgreSQL
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
