# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
*.egg-info/
dist/
build/
.pytest_cache/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
*.env.local

# Docker
*.log

# OS
.DS_Store
Thumbs.db

# Kubernetes secrets
*-secret.yaml

# Gunicorn
*.ctl
gunicorn.ctl

# Fichiers générés/gérés par Docker & Django
backend/staticfiles/
backend/media/
staticfiles/
media/